# Análise Explorátoria do Problema

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
plt.style.use('ggplot')

| Variável                  | Descrição                                         | Hipótese                                                                                        |
|---------------------------|---------------------------------------------------|-------------------------------------------------------------------------------------------------|
| Item_Identifier           | Identificação do Produto                          | ID Produto                                                                                      |
| Item_Weight               | O peso do produto                                 | Nenhuma                                                                                         |
| Item_Fat_Content          | Quantidade de gordura no produto                  | Produtos com menor gordura podem estar mais relacionados à utilidade                            |
| Item_Visibility           | Percentual de presença nas áreas de venda da loja | Produtos com maior visibilidade vendem mais                                                     |
| Item_Type                 | O tipo/categoria do produto                       | Dá pra inferir a utilidade do produto através dessa informação                                  |
| Item_MRP                  | Preço Máximo de venda                             | Nenhuma                                                                                         |
| Outlet_Identifier         | Identificador de loja                             | ID Loja                                                                                         |
| Outlet_Establishment_Year | Ano de abertura da loja                           | A idade da loja pode está relacionada ao nível de ambientação                                   |
| Outlet_Size               | Tamanho da loja em áreas                          | Lojas maiores terão um mix/quantidade  de produtos maiores portanto são propícias a  vender mais |
| Outlet_Location_Type      | Localização da loja                               | Lojas localizadas em áreas urbanas e densamente populosas vendem mais                           |
| Outlet_Type               | O tipo da loja                                    | Relacão com a hipótese da ambientação e o tipo de produtos que a loja vende.                    |
| Item_Outlet_Sales         | A venda do produto                                | Output                                                                                          |

Temos 11 hipósteses no total, mas apenas 9 variáveis que cobrem apenas 6 das 11 hipóteses

In [16]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [17]:
train['Source'] = 'train'
test['Source'] = 'test'

data = pd.concat([train, test], sort=True, ignore_index=True)
data.head()

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,Source
0,Low Fat,FDA15,249.8092,3735.1380,Dairy,0.016047,9.30,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
1,Regular,DRC01,48.2692,443.4228,Soft Drinks,0.019278,5.92,2009,OUT018,Tier 3,Medium,Supermarket Type2,train
2,Low Fat,FDN15,141.6180,2097.2700,Meat,0.016760,17.50,1999,OUT049,Tier 1,Medium,Supermarket Type1,train
3,Regular,FDX07,182.0950,732.3800,Fruits and Vegetables,0.000000,19.20,1998,OUT010,Tier 3,NaN,Grocery Store,train
4,Low Fat,NCD19,53.8614,994.7052,Household,0.000000,8.93,1987,OUT013,Tier 3,High,Supermarket Type1,train

In [19]:
print(train.shape, test.shape)

(8523, 13) (5681, 12)

Checando dados faltantes

In [18]:
data.apply(lambda x: sum(x.isnull()))

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
Source                          0
dtype: int64

In [20]:
data.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

Observações:
 1. Item_Visibility tem min = 0. Totalmente sem sentido.
 2. Outlet_Establishment_Year está em anos, podemos convertar para idade

WIP